In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("artworks.csv")

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16729 entries, 0 to 16728
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16728 non-null  object
 1   Artist       16729 non-null  object
 2   Nationality  16729 non-null  object
 3   BeginDate    15787 non-null  float64
 4   EndDate      10475 non-null  float64
 5   Gender       16729 non-null  object
 6   Date         16729 non-null  object
 7   Department   16729 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [4]:
"(danial)".strip("()")

'danial'

In [5]:
dataset.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),-1947.0,-2013.0,(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),-1916.0,-2007.0,(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),-1870.0,-1943.0,(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),-1861.0,-1944.0,(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),-1857.0,-1927.0,(Male),1903,Photography

In [6]:
dataset["Nationality"] = dataset["Nationality"].str.strip("()")

In [7]:
dataset["Nationality"].value_counts().head(10)

American    7444
French      3042
German      1141
British      749
             494
Italian      405
Spanish      343
Japanese     299
Russian      274
Swiss        270
Name: Nationality, dtype: int64

In [8]:
dataset["Gender"] = dataset["Gender"].str.strip("()")

In [9]:
dataset["Gender"] = dataset["Gender"].str.replace("male","Male")

In [10]:
dataset["Gender"].value_counts()

Male      13492
FeMale     2443
            794
Name: Gender, dtype: int64

In [11]:
dataset["Gender"].unique()

array(['FeMale', 'Male', ''], dtype=object)

In [12]:
dataset.loc[dataset["Gender"] == '',"Gender"] = "404 Not Found"

In [13]:
dataset["Gender"].value_counts()

Male             13492
FeMale            2443
404 Not Found      794
Name: Gender, dtype: int64

In [14]:
dataset["BeginDate"] = dataset["BeginDate"].abs()

In [15]:
dataset["EndDate"] = dataset["EndDate"].abs()

In [16]:
bad_char = ["(",")",".","C","c","S","s","'"," "]

In [17]:
for i in bad_char:
    dataset["Date"] = dataset["Date"].str.replace(i,"")

In [18]:
dataset["Date"]

0             1986
1             1978
2        1889-1911
3        1927-1940
4             1903
           ...
16724    1968-1969
16725         1975
16726         1922
16727         1931
16728         2011
Name: Date, Length: 16729, dtype: object

In [19]:
dataset["Date"] = dataset["Date"].str.strip("-")

In [20]:
dataset["Date"].str.contains("-")

0        False
1        False
2         True
3         True
4        False
         ...
16724     True
16725    False
16726    False
16727    False
16728    False
Name: Date, Length: 16729, dtype: bool

In [21]:
date = dataset.loc[dataset["Date"].str.contains("-"),"Date"]

In [22]:
date = date.str.split("-", expand = True)

In [23]:
date = date.astype(int)
date

          0     1
2      1889  1911
3      1927  1940
7      1978  1983
10     1949  1950
12     1908  1911
...     ...   ...
16705  1889  1911
16706  1880  1910
16707  1945  1951
16709  1964  1965
16724  1968  1969

[3066 rows x 2 columns]

In [24]:
date = round((date[0]+date[1]) / 2)

In [25]:
date = date.astype(int)

In [26]:
indx = date.index

In [27]:
dataset.loc[indx,"Date"] = date

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16729 entries, 0 to 16728
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16728 non-null  object
 1   Artist       16729 non-null  object
 2   Nationality  16729 non-null  object
 3   BeginDate    15787 non-null  float64
 4   EndDate      10475 non-null  float64
 5   Gender       16729 non-null  object
 6   Date         16729 non-null  object
 7   Department   16729 non-null  object
dtypes: float64(2), object(6)
memory usage: 1.0+ MB

In [29]:
dataset["Date"] = dataset["Date"].astype(int)

In [30]:
dataset["Age"] = dataset["EndDate"] - dataset["BeginDate"]

In [31]:
dataset["Submission Age"] = dataset["Date"] - dataset["BeginDate"]

In [32]:
dataset

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department,Age,Submission Age
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,1947.0,2013.0,FeMale,1986,Prints & Illustrated Books,66.0,39.0
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,1916.0,2007.0,Male,1978,Prints & Illustrated Books,91.0,62.0
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,1870.0,1943.0,Male,1900,Prints & Illustrated Books,73.0,30.0
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,1861.0,1944.0,Male,1934,Prints & Illustrated Books,83.0,73.0
4,97 rue du Bac,Eugène Atget,French,1857.0,1927.0,Male,1903,Photography,70.0,46.0
...,...,...,...,...,...,...,...,...,...,...
16724,Oval with Points,Henry Moore,British,1898.0,1986.0,Male,1968,Painting & Sculpture,88.0,70.0
16725,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,1942.0,NaN,Male,1975,Architecture & Design,NaN,33.0
16726,The Catboat,Edward Hopper,American,1882.0,1967.0,Male,1922,Prints & Illustrated Books,85.0,40.0
16727,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,,NaN,NaN,404 Not Found,1931,Prints & Illustrated Books,NaN,NaN
16728,Plate (page 11) from The Dive,Alex Katz,American,1927.0,NaN,Male,2011,Prints & Illustrated Books,NaN,84.0

In [33]:
dataset.to_excel("Clean Data.xlsx", index = False)